.mama {
    display: flex;
  border: 1px solid black;
  width: 1050px;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  align-items: flex-start;
}
.baba {
  border: 1px solid black;
  width: 1025px;
  height: 275px;
}
